/* ===== fonts ===== */
@font-face {
  font-family: "kalameh";
  font-weight: normal;
  src: url("../fonts/_Woff/KalamehWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "kalameh-bold";
  font-weight: bold;
  src: url("../fonts/_Woff/KalamehWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "kalameh-black";
  font-weight: 900;
  src: url("../fonts/_Woff/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: "kalameh-number";
  src: url("../fonts/number/KalamehWeb\(FaNum\)-Regular.woff") format("woff");
}
