/* ===== fonts ===== */
@font-face {
  font-family: "kalameh";
  font-weight: normal;
  src: url("../fonts/_Woff/KalamehWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "kalameh-bold";
  font-weight: bold;
  src: url("../fonts/_Woff/KalamehWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "kalameh-black";
  font-weight: 900;
  src: url("../fonts/_Woff/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: "kalameh-number";
  src: url("../fonts/number/KalamehWeb\(FaNum\)-Regular.woff") format("woff");
}

/* ===== CSS VARIABLES ===== */
:root {
  /* ===== Colors ===== */
  --body-bg-color: #07101d;
  --first-color: #ff3c00;
  /* ===== Font and typography ===== */
  --body-font: "kalameh", sans-serif;
}

/* ===== base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background-color: var(--body-bg-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}

/* ===== header ===== */
header::before {
  content: "";
  width: 904px;
  height: 879px;
  background-image: radial-gradient(#3d0d58 38%, #070f1c 0%);
  position: absolute;
  filter: blur(70px);
  opacity: 0.4;
  top: -275px;
  right: -275px;
  z-index: -100;
}
header::after {
  content: "";
  width: 500px;
  height: 500px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* ===== helper classes ===== */
.first-color {
  color: var(--first-color);
}
.bg-first {
  background-color: var(--first-color);
}
.border-first {
  border-color: var(--first-color) !important;
}
.main-bg-gradient {
  background-image: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
}
.icon-size {
  font-size: 26px;
}
.icon-size-lg {
  font-size: 32px;
}
.icon-size-xl {
  font-size: 36px;
}
.header-font-size {
  font-size: 4rem;
}
.blur-filter {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
}
.users-group-position {
  bottom: 4rem;
  right: 5rem;
}
.path-position {
  top: 4rem;
  right: 5rem;
}
.num-font {
  font-family: "kalameh-number";
}
.section-title-size {
  width: 75px;
  height: 75px;
}
.section-padding {
  padding-block: 7rem 5rem;
}

/* ===== wallet section ===== */
.wallet-box {
  position: relative;
  padding: 1px;
  height: 188px;
}
.wallet-box::after {
  content: "";
  width: 42px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  bottom: -3px;
  right: -13px;
  transform: rotate(-45deg);
}
.wallet-box-bg {
  background-color: #161e2a;
}
.wallet-box-orange {
  background-image: linear-gradient(to right bottom, #07101d, #fc280c);
}
.wallet-box-yellow {
  background-image: linear-gradient(to right bottom, #07101d, #ffbb0d);
}
.wallet-box-blue {
  background-image: linear-gradient(to right bottom, #07101d, #00d1ff);
}
.wallet-box-pink {
  background-image: linear-gradient(to right bottom, #07101d, #fe007a);
}
.wallet-box-purple {
  background-image: linear-gradient(to right bottom, #07101d, #760aff);
}
.border-top-orange::after {
  border-top: 1px solid #fc630f;
}
.border-top-yellow::after {
  border-top: 1px solid #ffbb0d;
}
.border-top-blue::after {
  border-top: 1px solid #00d1ff;
}
.border-top-pink::after {
  border-top: 1px solid #fe007a;
}
.border-top-purple::after {
  border-top: 1px solid #760aff;
}

/* ===== hot bids section ===== */
.heart-position {
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
}
.counter-position {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.hot-bids {
  background-color: rgba(255, 255, 255, 0.1);
}
.hot-bids-shape {
  width: 950px;
  height: 990px;
  bottom: -15rem;
  left: 0;
  background-image: radial-gradient(62.37% 62.37% at 50% 50%, rgba(8, 164, 117, 0.1) 28.57%, rgba(7, 15, 28, 0) 100%);
  filter: blur(50px);
  opacity: 0.6;
  z-index: -1000;
}
